body{
  margin: 0;
  background-color: #1C1C19;
}

.Hero-section{
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;

  background-image:
    linear-gradient(
        to right,
        #141512,
        #181816ec,
        #1c1c1997,
        transparent
        ),
    url("/hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

